@import "assets/styles/variables.sass"

.filters
  display: flex
  width: 100%
  justify-content: space-between
  flex-wrap: wrap
  margin-top: 1rem

  > button
    border: 2.5px solid $c-030303A8
    padding: 0.3rem 1rem
    border-radius: 30px
    color: white
    transition: border .4s ease

    &:hover
      border: 2.5px solid #d3d3d3